.nav-area {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menus{
  list-style: none;
  display: flex;
}

.drop-down{
  position:absolute;
}

img {
  width: 60%;
}

li {
  transition: all linear 0.1s;
}



.dropdown-menu {
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}
.menu a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}